<h3>Reviews</h3>
{{#each YelpReviews}}
<li class="list-group-item">
	<div style="font-size: small; color:blue; font-weight:bold">{{username}}</div>
	<div style="font-size: xx-small">{{content}}</div>
</li>
{{/each}}